include ../mixins/flash-messages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= title || 'Keystone'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/session.min.css", rel="stylesheet")
		
		block css
	body
		//- HEADER
		header(role='banner').main-header
			a(href='/', title='Back to Home').navbar-logo
				img(src='/images/sydjs_600.png', alt='site logo', width=120, height=120)
		
		//- BODY
		.main-body
			block intro
			+flash-messages(messages)
			block content
		
	//- scripts
	script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
	//- script(src='/js/lib/jquery/jquery-1.10.2.min.js')
	//- script(src='/js/lib/bootstrap/collapse.js')
	//- script(src='/js/lib/bootstrap/dropdown.js')
	
	block js
	